body {
  background-image: linear-gradient(120deg,#487eb0,#fbc531);
  min-height: 100vh;
  padding: 100px;
  font-family: Arial;
  font-size: 45px;
  text-align: left;
}

.Todo-lists {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  
  font-size: 45px;
  transition: 0.2s;
}

.Todo-lists .header table {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  position: middle;
}

.header {
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
  }

  .placeholder {
    background: #eee;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    display: inline-block;
  }

  #btn {
    background-color: rgb(121, 121, 187); /* Green */
    /* border-radius: 20%; */
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

  


